 *{
     margin:0px;
    padding:0px;
}
css variable 
 :root{
    --navbar-height:59px;
}  
html{
   scroll-behavior: smooth;
}
 logo and image
    #logo{ 
        height:20px;
        margin:10px 34px;
    }
    #logo img{
        height:59px;
        margin:3px 5px;
    

    }
  /* Navigation bar  */
    #navbar{
        display:flex;
        position :relative;
      
    }
    #navbar ul{
        display:flex;
    }
    #navbar::before{
        content:"";
        background-color: black;
        position:absolute;
        top:0px;
        left:0px;
        height: 100%;
        width: 100%;
        z-index: -1;
        /* opacity:0.1; */
    }
    #navbar ul li{
        list-style: none;
        font-size:1.3rem;
    }
    #navbar ul li a{
        color:white;
        display:block;
        padding:3px 22px;
        border-radius:20px;
        text-decoration: none;
    }
    #navbar ul li a:hover{
        color:rgb(123, 96, 154);
        background-color: white;
        display:block;
        padding:3px 15px;
        border-radius:9px;
        text-decoration: none;
        cursor:pointer;
    }
     /* Home section */
     #home{
        display:flex;
        flex-direction: column;
        padding:3px 200px;
        height: 421px;
        justify-content:center;
        align-items:center;
     }
     #home:before{
        content:"";
        background:url(image1.jpg) no-repeat center center/cover;
        position:absolute;
        top:0px;
        left:0px;
        height:65%;
        width: 100%;
        z-index: -1;
        opacity:0.78;
     }
     #home h1{
        color:black;
        text-align: center;
        /* font-family:'Bree Serif',serif; */
     }
     #home p{
        color:black;
        text-align: center;
        font-size:1.5rem;
     }
     /* service section */
     #service{
        margin:34px;
        display: flex;
     }
     #service .box{
        border:2px solid rgb(28, 20, 20);
        padding: 20px;
        margin: 8px 6px;
        background-color: #605a5a0e;
        border-radius: 30px;
     }
     #service .box img{
        height: 166px;
        display:block;
        margin:auto;
     }
     /* Client section */
      #client-section{
      height: 500px; 
      /* display:flex; */
      }
      #clients{
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 25px;
         padding: 11p
     }
     #client-section::before{
      height: 344px; 
      display:flex;
      content:"";
      position:absolute;
      background:url(bg-client.jpg) ;
      width:100%;
      height:60%;
      z-index:-1;
      opacity: 0.4;
     } 
   
    #clients-item{
      padding: 11px;
      margin: 18px 45px;
    }   

     /* contact section  */
     #contact{
      position:relative;
     }
     #contact-box input,
     #contact-box textarea{
      width:100%;
      padding:10px 20px;
     }
     
     #contact::before{
      content:"";
      position:absolute;
      background:url(contact.jpg) ;
      width:100%;
      height:100%;
      z-index:-1;
      opacity: 0.4;
     } 
     #contact-box{
        display: flex;
        justify-content: center;
        align-content: center;
        padding-bottom: 34px;
        
       }
       #contact-box form{
         width:30%;
         font-size: 1.3rem;
       }
     
     
   
     /* footer class */
     footer{
      background-color: black;
      color: white;
      padding: 4px 20px;
     }
     

     /* Utility class */
     .h1{
        font-size: 2.8rem;
        padding:12px;
     }
     .h-secondary{
        font-size:2.3rem;
        padding:12px;
     }
     .btn{
        padding:6px 20px;
        border:2px solid white;
        background-color:rgb(84 105 112);
        color:white;
        margin:17px;
        font-size:1rem;
        border-radius:10px;
        cursor:pointer;
     }
     .center{
        text-align:center;
     }
     .h-primary{
      font-size: 2.9rem;
     }
   
   